.container-user {
    display: flex;
    flex-direction: row;
    /* display: flex;
  justify-content: center;
  align-items: center; */
    width: max-content;
    min-height: 5.5rem;
}
.userimg_container {
    position: relative;
    padding-right: 1rem;
}
.userimg_container .userimg {
    width: 3rem;
    height: 3rem;
}
.edit_btn {
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid rgb(248, 190, 2);
    border-radius: 50%;
    background-color:#f1b110;
    position: absolute;
    bottom: -0.2rem;
    left: 1rem;
}
.edit_btn .edit_icon {
    fill: #eee;
}
.userinfo_container {
    color: #f9f5f5 e2;
}
.userinfo_container h2 {
    font-size: 1.2rem;
}
.modal_background-user {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(243, 242, 242);
    top: 0;
    left: 0;
    backdrop-filter: blur(1px);
    z-index: 999;
}
.modal_form-user {
    position: fixed;
    padding: 1rem;
    border-radius: 1rem;
    z-index: 9999;
    background-color: #f7f9fc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: flex-start;
}
@media only screen and (max-width: 460px) {
    .modal_form-user {
        width: 100%;
   }
}
.content {
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}
@media only screen and (max-width: 500px) {
    .content {
        flex-direction: column;
   }
}
.userimg_big {
    width: 7rem;
    height: 7rem;
}
.file_input {
    display: none;
}
.edit_btn_big {
    left: 3rem;
    bottom: -0.3rem;
    width: 1.5rem;
    height: 1.5rem;
}
.input_container li {
    margin-bottom: 0.5rem;
    list-style: none;
}
.input_container li p {
    font-size: 0.85rem;
}
.input_container li > input {
    background-color: #383838;
    border: none;
    height: 2.2rem;
    padding-inline: 1rem;
    border-radius: 0.4rem;
    min-width: 17rem;
}
.btm_row {
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
}
.btm_row button {
    padding: 0.2rem 1rem;
    border: none;
    border-radius: 0.25rem;
}
.btm_row button:nth-child(2) {
    background-color: #f1b110;
}
