.container-bell {
  display: flex;
    position: relative;
    margin-right: 1rem;
  }
  span {
    position: absolute;
    top: 15px;
    right: -15px;
    background-color:  #262c36;
    width: 1rem;
    height: 1.2rem;
    border-radius: 2px;
    font-size: 0.85rem;
    color: #fff;
  }
  .bell_icon {
    fill: #eee;
  }