.container-pts {
  display: flex;
  margin-top:10px;
  /* justify-content: center;
  align-items: center; */
    color: #f3912e;
  }
  .svg {
    fill: #eee;
    width: 1.4rem;
  }
  h1 {
    margin-left: 0.2rem;
    font-size: 0.95rem;
    transform: translateY(-1px);
  }
  a {
    text-decoration: none;
  }