.container-search {
    background-color: #eaebed;
    height: 2.2rem;
    min-width: 16rem;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 1rem;
    padding-inline: 1rem;
}
@media only screen and (max-width: 750px) {
    .container-search {
        display: none;
   }
}
.container-search .search-icon {
    fill: #fff;
    transform: translateY(2px);
}
.container-search input {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 0.25rem;
    color: #fff;
    font-size: 0.85rem;
}
