.switch {
  top:12px;
    position: relative;
    display: inline-block;
    width: 37px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4d525b;
    width: 100%;
    height: 100%;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: #eeeeee;
    border: 2px solid #f3912e;
    box-sizing: border-box;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #4d525b;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4d525b;
  }
  
  input:checked + .slider:before {
    transform: translateX(15px);
  }
  