.container {
    margin: 1rem;
  }
  .upper_row {
    display: flex;
  justify-content: center;
  align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;
  }
  .upper_row h4 {
    font-size: 0.9rem;
    font-weight: 700;
    color: #eee;
  }
  .upper_row button {
    background-color: #f3912e;
    border: none;
    padding: 0.25rem 1.5rem;
    color: #eee;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .upper_row button :hover {
    background-color: #f3902ec2;
  }
  .input {
    min-height: 2.5rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: #15181e;
    border-radius: 0.5rem;
    color: #eee;
    font-size: 0.9rem;
    font-weight: 500;
    padding-left: 1rem;
    box-sizing: border-box;
    padding-top: 0.2rem;
  }
  .line {
    margin-top: 1.5rem;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .modal_background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    backdrop-filter: blur(1px);
    z-index: 999;
  }
  .password_modal_form {
    position: fixed;
    width: 25rem;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    z-index: 9999;
    background-color: #15181e;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
    align-items: flex-start;
  }
  @media only screen and (max-width: 460px) {
    .password_modal_form {
      width: 100%;
    }
  }
  .password_modal_input {
    width: 100%;
    height: 2.4rem;
    background-color: #15181e;
    border: none;
    outline: none;
    color: #eee;
    padding-inline: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  .title {
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
  }
  .bottom_row {
    display: flex;
  justify-content: center;
  align-items: center;
    align-self: flex-end;
    gap: 0.5rem;
  }
  .btn {
    padding: 0.35rem 1.5rem;
    border-radius: 0.3rem;
    border: none;
  }
  .btn:nth-child(2) {
    background-color: #f3912e;
  }
  