.input_container {
  display: flex;
  /* justify-content: center;
  align-items: center; */
    position: relative;
    background-color:#0d0d0e;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 0.95rem;
    margin-bottom: 0.25rem;
    color: #eee;
  }
  .icon {
    position: absolute;
    left: 1rem;
  }
  .input {
    min-height: 2.5rem;
    min-width: 100%;
    border: none;
    outline: none;
    background-color: #848585;
    padding-left: 3rem;
    padding-right: 2rem;
    box-sizing: border-box;
    color: #eee;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .pencil_icon {
    position: absolute;
    right: 1rem;
    width: 0.7rem;
  }
  